@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss';



@layer base {
  html {
    font-family: 'Space Grotesk', sans-serif;
  }
  
  body {
    font-family: 'Space Grotesk', sans-serif;
  }
}

/* Custom utility classes */
@layer utilities {
  .font-space-grotesk {
    font-family: 'Space Grotesk', sans-serif;
  }
}

/* Add typing animation */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3b82f6;
  color: #3b82f6;
  box-shadow: 9984px 0 0 0 #3b82f6, 9999px 0 0 0 #3b82f6, 10014px 0 0 0 #3b82f6;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #3b82f6, 9999px 0 0 0 #3b82f6, 10014px 0 0 0 #3b82f6;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #3b82f6, 9999px 0 0 0 #3b82f6, 10014px 0 0 0 #3b82f6;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #3b82f6, 9999px 0 0 0 #3b82f6, 10014px 0 0 0 #3b82f6;
  }
  50% {
    box-shadow: 9984px 0 0 0 #3b82f6, 9999px -10px 0 0 #3b82f6, 10014px 0 0 0 #3b82f6;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #3b82f6, 9999px 0 0 0 #3b82f6, 10014px 0 0 0 #3b82f6;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #3b82f6, 9999px 0 0 0 #3b82f6, 10014px -10px 0 0 #3b82f6;
  }
  100% {
    box-shadow: 9984px 0 0 0 #3b82f6, 9999px 0 0 0 #3b82f6, 10014px 0 0 0 #3b82f6;
  }
}
